settings_local.py

*.pyc
__pycache__
/database.db
/mapentity.egg-info/
/.idea/
/.vscode/
/env/
/build/
/dist/
/static/
/media/
/docs/_build/
/README.html
/.coverage
*.mo
coverage.xml
/patbati/local_settings.py
*.sh
.env